<footer>
  <div class="f-info">
    <div class="f-info-social">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-square-linkedin"></i>
        <i class="fa-brands fa-twitter"></i>
    </div>
    <div class="brand">
      <img
        src="/images/logo.png"
        alt="Wonderlust Logo"
        height="20px"
        class="me-2"
        style="border-radius:10px;"
      />&copy;  wonderlust private limited
    </div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a> <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
